<style> 
/* mas estilos */ 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

tarjeta {
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
</style>